#copyright{
    text-align: center;
    position: fixed;
    bottom: 0%;
    width: 100%;
    background-color: white;
    font-family: "Micro 5", sans-serif;
  font-weight: 1000;
  font-style: normal;
  font-size: 25;
    color: black;
}